@model List<AlCategoryDTO>

<div class="list-group">

    @foreach (var item in Model)
    {
        @*<a href="#" class="list-group-item-action active">@item.Name </a>*@

        <a class="dropdown-item " asp-controller="Home" asp-action="ArticleLists" asp-route-id="@item.ID">@item.Name</a>

    }




</div>