<div class="invoice p-3 mb-3">
    <!-- title row -->
    <link href="~/temp/dist/Social.css" rel="stylesheet" />
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-globe">OMOS</i>
                <small class="float-right">date:@DateTime.Now</small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">

            <address>
                <strong>M.Oğuzhan Mendi</strong><br>

                Phone: 0(553)-887-32-64<br>
                Email: oguzhanmendix@gmail.com
                Addres:Büyükdere Cd. No:237,34398 Sarıyer/İstanbul

            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">


        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-6">




        </div>
        <!-- /.col -->
        <div class="col-6">




           

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.109435421134!2d29.022254915354054!3d41.11030097929056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab58f4c1b6127%3A0xd31c6b954078684a!2sBilgeAdam%20Maslak!5e0!3m2!1str!2str!4v1663499402395!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



            <div class="table-responsive">
                <table class="table">
                    <tbody>
                     
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Add font awesome icons -->
            <a href="https://www.instagram.com/omospage/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/omospage/" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/omospage/" class="fa fa-instagram"></a>
          
        </div>
    </div>

</div>